body{
    background-size: cover;
    text-align: center;
    font-family: 'Croissant One', cursive; 
    background-color: brown;
}
canvas{
    border-radius: 40px;
    box-shadow: 5px 5px 20px black;
}
h1{
    background-color: burlywood;
    border-radius: 20px;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
}
button{
    background-color: burlywood;
    width: 35%;
    border-radius: 40px;
    padding: 20px 15px;
    font-size: 25px;
    font-family: 'Croissant One', cursive; 
}
#botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    align-items: center;
}